.open-modal{
    display: block; 
    position: fixed; 
    height: 100%; 
    width: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.397); 
    z-index: 1; 
    left: 0px;top: 0px; 
} 
.displayNone{
  display: none;
}
.close-modal{
  position: fixed; 
  height: 100%; 
  width: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.397); 
  z-index: 1; 
  left: 0px;top: 0px; 
} 
.modal-content{
  position: relative;
   background-color: white;
   margin:20% auto;
   margin-top: 5%;
   padding:20px;
   width:70%;
   box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 8px 0 rgba(0, 0, 0, 0.17);
   animation-name: modalopen;
   animation-duration: 800ms;
}
.close-skill-modal-content{
  position: relative;
  background-color: white;
  margin:20% auto;
  margin-top: 5%;
  padding:20px;
  width:70%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 8px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalclose;
  animation-duration: 800ms;
}
.close-btn{
   float: right;
   font-size: 30px;
   color: #ccc;
}
.close-btn:hover,.close-btn:focus{
   color: black;
   text-decoration: none;
   cursor: pointer;
}
.footerDiv{
   /* float: right; */
}
.middle{
   display:flex;
   flex-direction: row;
   margin-top: 20px;
   
   
}
.middle-left{
   flex: 1;
   height: auto;
   width:100%;
   margin-left: 20px;
   
}
.middle-right{
   flex: 1;
   height: auto;
   width:100%;
   margin-left: 20px;    
   
}
.btn-div{
   border:1px solid;
   display: flex;
   flex-direction: row;
   padding: 5px;
   border-radius: 2px;
   border-color:rgba(153, 151, 151, 0.966);
   
}
.btn{
   margin-left:10px;
   background-color: white;
   border:none;
   font-size: 15px;
   color: rgb(95,98,104)
}
.btn:hover{
  background-color: rgb(224, 228, 231)
}
/* input{
   width: 99%;
   height: 200px;
} */
.profile-div{
   border: 1px solid;
   padding: 8px;
   border-radius: 2px;
   border-color:rgba(153, 151, 151, 0.966);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.choose-profile{
   color:gray;
}
.card-container{
   border:1px solid;
   margin-top: 20px;
   border-color:rgba(153, 151, 151, 0.966);
   overflow-y: scroll;
   height: 267px;

}
.card{
   margin: 25px;
   border: 1px solid;
   padding-top: 5px;
   border-color:rgba(153, 151, 151, 0.966);
   
}
.plus-btn{
   width: 100%;
   height: 30px;
   background-color: rgb(82,99,255);
   border:none ;
   border-radius: 2px;
   color: white;
   font-size: 24px;
   font-weight: bold;

}
hr{
   margin-top: 20px;
}
.footer-cancel-btn{
   /* float: right; */
   background-color: rgb(233, 230, 230);
   padding:7px;
   border: none;
   border-radius: 3px;
   color: rgb(104, 99, 99)
}
.footer-save-btn{
   /* float: right; */
   padding: 7px;
   background-color:rgb(82,99,255);
   border: none;
   border-radius: 3px;
   color:white
}
.dropdown{
   display: inline-block;
}
.dropbtn{
   background-color: white;
   border: none;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropdown:hover .dropbtn {
   background-color: #f1f1f1 ;
 }
 
 @keyframes modalopen{
   0% {top:-1000px;}
  100% {top:0px;}
 }
 @keyframes modalclose{
  0%{top:0px;}
  100%{top:-1000px}
}
 .footerDiv{
     text-align: right;
 }
 textarea{
     font-weight: normal;
 }
 .search-bar{
   padding-right: 50px;
   border: none;
 }
.modal-btn{
    width:100%;
    height:50px;
}
.makeBold{
  font-weight: bold
}